<div class="row">
<div class="span8 offset4">
  <h1>"<%= @stitch['name'] %>"</h1>
</div>
</div>

<div class="row">
<aside class="span3">
  <section>
    <%= get_status(@stitch['rejected'], @stitch['video']['h264']['status']) %>
  </section>
  <section>
    Requested by <strong><%= @stitch['user']['name'] %></strong><br />
    <small><em>(<%= @stitch['user']['username'] %>)</em></small>
  </section>
  <section>
    <span class="timestamp">
    <% if @request.updated_at != @request.created_at %>
      REMIXED <%= time_ago_in_words(@request.updated_at) %> ago.
    <% else %>
      Requested <%= time_ago_in_words(@request.created_at) %> ago.
    <% end %>
  </span>
  </section>
  <% if @stitch['video']['h264']['status'] == "success" %>
      <section>
        Don't like the result?
        <%= form_for(@request) do |f| %>
            <%= f.submit "REMIX", id: "remix_button", class: "btn btn-small btn-info" %>
        <% end %>
      </section>
  <% end %>
</aside>
<div class="span8 offset1">

  <p class="lead"><%= @stitch['description'] %></p>

  <div class="center hero-unit">
    <% if @stitch['video']['h264']['status'] == "success" %>

        <!-- HTML5 player -->
        <video id="movie" width="400" preload="none"
               poster="<%= @stitch['video']['h264']['screenshot'] %>" controls>
          <source src="<%= @stitch['video']['h264']['url'] %>" type="video/mp4">
        </video>

    <% else %>
        Refresh in a short while to see your Stitch... it's like MAGIC!
    <% end %>
  </div>

  <!--<p>
    <%= @stitch %>
  </p>-->

</div>
</div>